<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Submit blood test results</h1>
        <label>Test Name
          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>

        <label>Test Result Value
          <input type="text" formControlName="value">
        </label>
        <div class="alert" *ngIf="!rForm.controls['value'].valid && rForm.controls['value'].touched">You must specify a value</div>

        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
  <div *ngIf="categoryResponse" class="form-container">
    <div *ngIf="categoryResponse.category" class="form-container">
      <div class="row columns">
        <h1>Results:</h1>
        <h3>Blood test category: {{ categoryResponse.category }}</h3>
        <h3>Blood test result: {{ categoryResponse.result == true ? 'BAD' : 'GOOD'}}</h3>
      </div>
    </div>
    <div *ngIf="!categoryResponse.category" class="row columns">
      <h1>No known tests were found</h1>
    </div>
  </div>
</div>
